/* .block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.text {
    align-items: center;
    padding: 50px 100px 10px 20px;
    max-width: 800px;
}

img {
    padding: 50px;
    max-width: 800px;
}

h2 {
    padding-bottom: 20px;
    font-size: 36px;
}

p {
    padding-bottom: 20px;
    font-size: 18px;
} */