button {
    background: #0E103D;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 15px 35px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

