.single-product {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
    margin: 50px;
}

.products {
    display: flex;
}

.title {
    text-align: center;
    padding-top: 50px;
}



@media screen and (max-width:600px) {
    .single-product {
        margin: 10px;
    }
}