html {
    scroll-behavior: smooth;
  }

@media screen and (max-width: 600px){
     .blueLogo {
        transform: scale(0.75);
        
    } 
}

.landing {
    background-color: #FAF0FF;
    display: flex;
}

.block-one, .block-two, .block-three {
    margin: 20px;
}

.landing {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 750px;
    justify-content: space-around;
}

