.basket {
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin: 50px;
}

.basket-item {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.totals {
    display: flex;
    flex-flow: column;
}

.indiv-total {
    padding: 20px;
}

.adjust {
    width: 20px;
}

.item-quantity {
    display: flex;
    align-items: center;
    margin: 10px;
    
}

.item-name {
    margin: 10px;
    font-size: 18px;
    font-weight: 600;
}

.item-price {
    margin: 10px;
}

@media screen and (max-width : 600px) {
    .row {
        flex-direction: column;

    }

    .basket {
        margin: 0px;
    }
}