.shop-product {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.product-details {
    padding: 10px;
}

.product-price, .product-name {
    padding-bottom: 5px;
}

.small {
    height: 350px;
    width: 350px;

}

/* .product-button {
    padding: ;
} */