.block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.text {
    align-items: center;
    padding: 30px;
    max-width: 650px;
}

/* .image {
    display: flex;
    align-items: center;
    flex-direction: column;
} */

.block-image {
    align-self: center;
    width: 650px;
    max-height: auto;
    padding: 10px;
}

h2 {
    padding-bottom: 20px;
    font-size: 36px;
}

p {
    padding-bottom: 10px;
    font-size: 18px;
}

@media screen and (max-width:600px) {
    img {
        align-items: center;
        max-width: 100%;
        
    }

    .text {
        align-items: center;
        padding: 20px;
    }

    p {
        font-size: 16px;
    }
}