

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  color: #2e294e;
}
